html {
    --flame: #E5582D;
    --cambridge-blue: #B8D5BA;
    --bottle-green: #206C52;
    --nad-pink: #EDADBF;
}

body {
    background-image: url("../assets/wallpaperflare.com_wallpaper\ \(1\).jpg");
    background-size: 800px;
}

header {
    background-color: #0a0a0a85;
    border: 3px solid black;
    height: 100px;
    color: #e431fc;
    text-transform: capitalize;
}

footer {
    background-color: #05050596;
    color: #e431fc;
}

#game {
    padding: 30px;
    /* background-color: #ce8ee467; */
    /* background-color: var(--cambridge-blue); */
    background-color: #94b5f159;
    width: 550px;
    margin: 40px auto;
    border-radius: 10px;
    border: 6px solid #050505;
    box-shadow: 0px 1px 20px 0px rgb(250, 42, 205);
    font-family: monospace, sans-serif;
    font-size: 20px;
}

.column {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid rgba(250, 2, 250, 0.5);
    /* background: rgb(236, 236, 217); */
    background-color: #030303;
    color: #e431fc;
}

.row {
    display: flex;
    padding-bottom: 8px;
}

#game-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.4;
    padding: 10px;
}

#note-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 10px;
}

.note-button {
    margin: 5px;
    height: 50px;
    width: 50px;
    color: rgb(221, 3, 250);
    background-color: rgb(5, 5, 5);
    border-radius: 4px;
    font-weight: bolder;
    border: 1px solid rgb(95, 3, 107);
}

.note-button:active {
    box-shadow: 0px 1px 15px 0px rgb(152, 2, 252);
    background-color: rgb(46, 5, 43);
    
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-sequence {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

#backspace {
    margin-right: 10px;
}

#play-button {
    margin-left: 5px;
    height: 30px;
    width: 30px;
    border: 1px solid gray;
}

.correct {
    background-color: green;
}

#user img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #e5582d00;
}


#forte-img {
    height: 100px;
    margin: 0 auto;
}

#sequence {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    margin: 30px auto;
}

#play-sequence {
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    top: -8px;
    margin-top: 29px;
}

#play-sequence button {
    border-radius: 50%;
    background-color: black;
    border: none;
    color: rgb(247, 5, 235);
    text-shadow: 0 0 0.5em rgb(247, 5, 235);
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 25px;
}

#sequence-display {
    width: 300px;
    height: 60px;
    border: 1px solid rgb(245, 12, 225);
    display: flex;
}

#sequence-display div {
    width: 12.5%;
    border: 1px solid rgba(230, 6, 250, 0.493);
    background-color: #050400;
    width: 20px;
    height: 60px;
}

#result {
    text-align: center;
    background-color: white;
    position: absolute;
    top: 300px; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 500px;
}

#scale-select {
    background-color: black;
    color: rgb(247, 5, 235);
    height: 35px;
    border: 1px solid rgb(247, 5, 235) ;
}

.streak-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.link-div {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 10px auto;
}

.link-div a {
    padding: 10px;
}

#sequence-div span {
    margin-left: 6px;
    margin-right: 6px;
}

#play-button-img {
    height: 40px;
    width: 60px;
}

#backspace {
    color: #fd05d4;
    background-color: black;
    border-radius: 5px;
    border: 2px solid rgb(247, 5, 235);
    margin-right: 100px;
    height: 40px;
    width: 100px;
    text-shadow: 0 0 0.5em rgb(247, 5, 235);
    cursor: pointer;
}

#enter {
    color: #fd05d4;
    background-color: black;
    border-radius: 5px;
    border: 2px solid rgb(247, 5, 235);
    height: 40px;
    width: 100px;
    text-shadow: 0 0 0.5em rgb(247, 5, 235);
    cursor: pointer;
}

#result {
    background-color: black;
    color: rgb(201, 99, 196);
}

a {
    color: #3057c2;
}

a:hover {
    color: rgb(247, 5, 235);
}




