.column {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid black;
}

.row {
    display: flex;
    padding-bottom: 5px;
}

#game-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.4;
    padding: 10px;
}

#note-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 10px;
}

.note-button {
    margin: 5px;
    height: 50px;
    width: 50px;
    color: black;
    background-color: #f9c5d1;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-sequence {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

#backspace {
    margin-right: 10px;
}

#play-button {
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

.correct {
    background-color: green;
}

#user {
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
}

#user img {
    height: 40px;
    width: 40px;
    border: solid 2px black;
    border-radius: 50%;
    background-color: #72DDF7;
}


#forte-img {
    height: 100px;
}

#result {
    text-align: center;
    background-color: white;
    position: absolute;
    top: 300px; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 500px;
}

.streak-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.link-div {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 10px auto;
}

.link-div a {
    padding: 10px;
}

#sequence-div span {
    margin-left: 6px;
    margin-right: 6px;
}
