#leaderboard {
    width: 75%;
    background-color: rgba(0, 0, 0, 0.274);
    display: flex;
    justify-content: center;
}

#leaders {
    grid-area: leaders
}

#scores {
    grid-area: scores
}

main {
    display: flex;
    justify-content: center;
}

.avatar {
    height: 50px;
}

ul {
    width: 75%;
}

.leaderboard-element {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(242, 1, 250);

}

.leader {
    width: 75%;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-right: 1px solid black;
}

.score-div {
    width: 25%;
    font-size: larger;
    text-align: center;
}

#crown {
    padding-top: 15px;
}



