:root {
    --black: rgb(5, 5, 5);
    --neon: rgb(221, 3, 250);
    --purple: #551a8b;
    --grape: rgb(46, 5, 43);
}

.avatar-preview {
    height: 100px;
    width: 100px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: #72DDF7;
}

#user {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    align-items: center;
    color: var(--purple)
}

#user img {
    height: 40px;
    width: 40px;
    border: solid 2px white;
    border-radius: 50%;
    background-color: #72DDF7;
}

label img {
    margin-left: 20px;
    background-size: cover;

}

.profile-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-inline: 200px;
    margin-top: 40px;
    padding: 15px;
    border-radius: 10px;
    background-color: #e431fc;
}

.profile-form label {
    display: flex;
    margin: 10px;
    align-items: center;
}

.profile-form button {
    width: fit-content;
    align-self: center;
    margin-bottom: 10px;
    border-radius: 8px;
    ;
}

body {
    background-image: url("../assets/wallpaperflare.com_wallpaper\ \(1\).jpg");
    background-size: 800px;
}

header {
    background-color: #0a0a0a85;
    border: 3px solid black;
    height: 100px;
    color: #e431fc;
    text-transform: capitalize;
}

footer {
    background-color: #05050596;
    color: #e431fc;
}

#forte-img {
    height: 100px;
    margin: 0 auto;
}

/* shan css for hamburger menu starts here */
h1 {
    color: #e431fc;
    text-align: center;
    width: auto;
}

li {
    list-style: none;
    margin: 10px;
}

a {
    color: var(--purple);
    text-decoration: none;
}

a:hover {
    color: #e431fc;
}

.material-icons {
    font-size: 6rem;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    left: 1rem;
    padding: 4px;
    border: white solid 2px;
    background: #e431fc;
    cursor: pointer;
}

#close-menu {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.3);
    width: 20%;
    height: 100vh;
    color: white;
    list-style: none;
    padding-top: 4rem;

}

.showMenu {
    transform: translateY(0);
}

.menu-option {
    display: flex;
    flex-direction: column;
    align-items: center;

}