:root {
    --black: rgb(5, 5, 5);
    --neon: rgb(221, 3, 250);
    --purple: #551a8b;
    --grape: rgb(46, 5, 43);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-container {
    width: 100%;
    background-color: var(--black);
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 100px;
}

#navbar-logo {
    color: var(--purple);
    justify-self: start;
    height: 100px;
    margin: 10 auto;
}

#navbar-logo {
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links {
    color: var(--purple);
    text-decoration: none;
}

.nav-links:hover {
    color: var(--neon);
}

.avatar-preview {
    height: 100px;
    width: 100px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: #72DDF7;
}



#user {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    align-items: center;
    color: var(--purple)
}

#user img {
    height: 40px;
    width: 40px;
    border: solid 2px black;
    border-radius: 50%;
    background-color: #fcfafa;
}

label img {
    margin-left: 20px;
    background-size: cover;
}

.profile-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-form {
    display: flex;
    flex-direction: column;
    border: solid 3px #615756;
    background-color: #8093F1;
    margin: 15px;
}

.profile-form label {
    display: flex;
    margin: 10px;
    align-items: center;
}

.profile-form button {
    width: fit-content;
    align-self: center;
    margin-bottom: 10px;
    border-radius: 8px;
    ;
}